# Data Science Tools and Ecosystem

**Objectives:** Topics covered in the discussion below are 
* Data Science Languages
* Common Libraries
* Data Science Tools 
* Common Arithmetic Code Samples

## In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Java
4. C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Keras
3. Scikit-Learn
4. PyTorch

<table style = 'float : left;'>
    <tr><th style = 'text-align : center;'>Data Science Tools
        <tr><td style = 'text-align : center;'> Apache Spark
        <tr><td style = 'text-align : center;'> Tensor Flow
        <tr><td style = 'text-align : center;'> RStudio

|Data Science Tools|
|-----------|
|Apache Spark|
|Tensor Flow|
|RStudio|

Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
(3*4)+5 #This a simple arithmetic expression to mutiply then add integers

17

In [16]:
time_in_hours = 200   #This will convert 200 minutes to hours by diving by 60
total_hours = time_in_hours//60
"total hours in " + str(time_in_hours) + " min is " + str(total_hours) + " hours"

'total hours in 200 min is 3 hours'

**<h2> Authors**

Shashwat